:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}


body {
  background-color: var(--bg_main);
  overflow-x: hidden;

  
}

#main {

  font-size: 300%;
  color: var(--text_light);
  text-shadow: rgb(10, 1, 0) 1px 2px 3px;


}

#formulaire {
  background-color: var(--bg_main);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-size: 20px;
}

#btn {
  background-color: var(--red);
  color: var(--text_light);
  border-radius: 5px;
  padding: 2px;
  font-size: 20px;

}

#sect-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
 padding: 50px;
}

.sect {
  background-color: white;
  border-radius: 25px;
  box-shadow: -1px 14px 22px -10px rgb(122, 122, 122);
}

@media screen and (min-width: 0px) {
  .sect {
    background-color: green;
    width: 200px;
    height: 200px;
  }

  #btn {
    width: 300px;
    height: 40px;
  }
}



@media screen and (min-width: 500px) {
  .sect {
    background-color: blue;
    width: 200px;
    height: 300px;
  }

  #btn {
    width: 100px;
  }
}

@media screen and (min-width: 700px) {
  .sect {
    background-color: purple;
    width: 250px;
    height: 300px;
  }

  #btn {
    width: 100px;
  }
}

@media screen and (min-width: 1000px) {
  .sect {
    background-color: yellow;
    width: 300px;
    height: 350px;
  }

  #btn {
    width: 100px;
  }
}


.town{
  display: inline-block;
  
  justify-content: end;
  padding-left: 10%;
font-size: xx-large;
}

.pays{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff8c00;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}